<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectName</key>
	<string>D15100EF-4391-49E6-8889-7A04770C4FD8</string>
	<key>SDK</key>
	<string>iPhoneOS16.5.sdk</string>
</dict>
</plist>